:host ::ng-deep .p-selectbutton .p-togglebutton-checked .p-togglebutton-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.75rem;
    background-color: var(--primary-color);
    color: var(--primary-color-text, #ffffff);
    border-color: var(--primary-color);
}
