server:
  port: ${PORT:9000}

jwt:
  private:
    key: classpath:app.key
  public:
    key: classpath:app.pub

spring:
  application:
    name: presente-back
  datasource:
    # Compatível com ambos: nossos envs (DB_URL/DB_USER/DB_PASS) e nomes padrão do Spring (SPRING_DATASOURCE_URL/SPRING_DATASOURCE_USERNAME/SPRING_DATASOURCE_PASSWORD)
#    url: ${DB_URL:${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/presente_db?currentSchema=presente_sh}}
    url: ${DB_URL:${SPRING_DATASOURCE_URL:jdbc:postgresql://34.151.212.25:5432/presente_db?currentSchema=presente_sh}}
    username: ${DB_USER:${SPRING_DATASOURCE_USERNAME:presente_user}}
    password: ${DB_PASS:${SPRING_DATASOURCE_PASSWORD:Presente_pwd#123}}
  jpa:
    hibernate:
      ddl-auto: none
#      naming:
#        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
#        implicit-strategy: org.springframework.boot.hibernate.SpringImplicitNamingStrategy
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    open-in-view: false
    # Garante que as migrações (Flyway) rodem antes do JPA validar/inicializar
    defer-datasource-initialization: true
    show-sql: false
  flyway:
    enabled: true
    locations: classpath:/db/migration
    default-schema: presente_sh
    schemas: presente_sh


#app:
#  security:
#    admin-username: ${ADMIN_USERNAME:admin}
#    admin-password: ${ADMIN_PASSWORD:admin123}
#    jwt-secret: ${JWT_SECRET:dev-secret-please-change-dev-secret-32bytes-min-123456}
#    jwt-expiration-minutes: 120

---
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    hikari:
      maximum-pool-size: 10
  flyway:
    default-schema: presente_sh
    schemas: presente_sh
server:
  port: ${PORT:9000}


logging:
  level:
    org:
      hibernate.orm.jdbc.bind: TRACE
      springframework:security: DEBUG