server:
  port: ${PORT:9000}

jwt:
  private:
    key: classpath:app.key
  public:
    key: classpath:app.pub

spring:
  application:
    name: presente-back

  # --- CONFIGURAÇÃO DE BANCO DE DADOS (Sempre ativa por padrão) ---
  datasource:
    # Tenta ler das variáveis de ambiente, se não houver, usa o Supabase como fallback
    url: ${DB_URL:jdbc:postgresql://aws-0-us-west-2.pooler.supabase.com:6543/postgres?currentSchema=presente_sh&sslmode=require&prepareThreshold=0}
    username: ${DB_USER:postgres.abmlvyrmenbevbdzwhse}
    password: ${DB_PASS:Presente_pwd#123}
#    username: ${DB_USER:${SPRING_DATASOURCE_USERNAME:postgres.abmlvyrmenbevbdzwhse}}
#    url: ${DB_URL:jdbc:postgresql://localhost:5432/presente_db?currentSchema=presente_sh}
#    username: ${DB_USER:presente_user}
#    password: ${DB_PASS:Presente_pwd#123}
    hikari:
      maximum-pool-size: 10
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
    driver-class-name: org.postgresql.Driver

  # --- CONFIGURAÇÃO JPA / HIBERNATE ---
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        default_schema: presente_sh
    open-in-view: false
    defer-datasource-initialization: true
    show-sql: false
    database: POSTGRESQL

  # --- CONFIGURAÇÃO FLYWAY ---
  flyway:
    enabled: true
    locations: classpath:/db/migration
    default-schema: presente_sh
    schemas: presente_sh
    baseline-on-migrate: true

  # --- CONFIGURAÇÃO DE E-MAIL (Padrão: MailHog para Desenvolvimento) ---
  mail:
    host: localhost
    port: 1025
    username: testuser
    password: testpassword
    properties:
      mail:
        smtp:
          auth: false
          starttls:
            enable: false

---
# --- PERFIL DE PRODUÇÃO (Configurações que sobrescrevem o padrão em PROD) ---
spring:
  config:
    activate:
      on-profile: prod

  # Em produção, o JPA costuma ser mais rigoroso
  jpa:
    show-sql: false

  # Em produção, usamos o Gmail (ou outro SMTP real)
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_USER:secretaria@mensageiros.udi.br}
    password: ${EMAIL_PASS:piwhrpyhroddimsj}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

---
# --- CONFIGURAÇÃO DE LOGS ---
logging:
  level:
    root: INFO
    org:
      hibernate.orm.jdbc.bind: INFO
      springframework:
        web: INFO
        security: DEBUG
#        mail: INFO
    # Adicionado para monitorar o Flyway
    org.flywaydb: DEBUG

