<p-card class="produto-card" [class.compact]="compact">
    <ng-template pTemplate="header">
        <div class="card-header">
            <h3 class="titulo">{{ produto.nome }}</h3>
            <span class="preco">{{ produto.preco | currency:'BRL':'symbol-narrow':'1.2-2':'pt' }}</span>
        </div>
    </ng-template>

    <div class="produto-content">
        <div class="media">
            <p-galleria
                [value]="produto.imagens"
                [showThumbnails]="false"
                [showIndicators]="true"
                [circular]="true"
                [autoPlay]="true"
                [transitionInterval]="3500"
                [containerStyle]="{ width: '100%' }"
            >
                <ng-template pTemplate="item" let-src>
                    <img [src]="src" [alt]="produto.nome" class="galleria-img" />
                </ng-template>
            </p-galleria>
        </div>

        <div class="info">
            <p class="descricao">{{ produto.descricao }}</p>

            <div class="acoes">
                <div class="tamanho tamanho-selector">
                    <span [attr.id]="'lbl-tam-' + produto.id">Tamanho:</span>
                    <p-selectButton
                        [attr.aria-labelledby]="'lbl-tam-' + produto.id"
                        [options]="tamanhoOptions"
                        [(ngModel)]="produto.tamanhoSelecionado"
                        [disabled]="disabled"
                    ></p-selectButton>
                </div>

                <div class="cor" *ngIf="corOptions?.length">
                    <span [attr.id]="'lbl-cor-' + produto.id">Cor:</span>
                    <p-selectButton
                        [attr.aria-labelledby]="'lbl-cor-' + produto.id"
                        [options]="corOptions"
                        [(ngModel)]="produto.corSelecionada"
                        [disabled]="disabled"
                    ></p-selectButton>
                </div>

                <button
                    pButton
                    type="button"
                    class="p-button-rounded p-button-lg selecionar-btn"
                    [severity]="selected ? 'success' : 'primary'"
                    (click)="onToggleClick()"
                    [disabled]="false"
                    [attr.aria-pressed]="selected ? 'true' : 'false'"
                >
                    @if (selected) {
                        <i class="pi pi-check p-button-icon p-button-icon-left"></i>
                        Desmarcar
                    }
                    @else {
                        <i class="pi pi-gift p-button-icon p-button-icon-left"></i>
                        Selecionar
                    }
                </button>
            </div>

            <div class="inline-errors" *ngIf="errors?.length">
                <ul>
                    <li *ngFor="let e of errors">{{ e }}</li>
                </ul>
            </div>
        </div>
    </div>

</p-card>
