<div class="bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-col items-center justify-center">

        <div class="w-full" style="max-width: 500px;">

            <p-card styleClass="shadow-4 border-round-xl w-full">

                <ng-template pTemplate="header">
                    <div class="pt-5 px-4 text-center">
                        <h2 class="text-primary font-bold text-2xl mb-2 mt-0">
                            Uma pessoa especial merece um presente da Senorita Brasil.
                        </h2>
                        <span class="text-600 font-medium text-lg">Validação de Acesso</span>
                    </div>
                </ng-template>

                <div class="px-3 pb-2">
                    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="p-fluid mt-4">

                        <div class="field mb-4">
                            <label class="font-medium text-900 mb-2 block">União</label>
                            <p-select name="organoNivel1"
                                      [(ngModel)]="loginData.organoNivel1"
                                      required
                                      styleClass="w-full"
                                      [options]="niveis1"
                                      (onChange)="filtrarNiveis2($event)"
                                      placeholder="Selecione o nível"
                                      [showClear]="true"
                                      appendTo="body"
                            ></p-select>
                        </div>

                        <div class="field mb-4">
                            <label class="font-medium text-900 mb-2 block">Associação</label>
                            <p-select name="organoNivel2"
                                      [(ngModel)]="loginData.organoNivel2"
                                      required
                                      [options]="niveis2"
                                      placeholder="Selecione a Associação"
                                      (onChange)="filtrarNiveis3($event)"
                                      [showClear]="true"
                                      styleClass="w-full"
                                      appendTo="body"
                            ></p-select>
                        </div>

                        <div class="field mb-4">
                            <label class="font-medium text-900 mb-2 block">Escola</label>
                            <p-select name="organoNivel3"
                                      [(ngModel)]="loginData.organoNivel3"
                                      required
                                      [options]="niveis3"
                                      placeholder="Selecione o nível"
                                      [showClear]="true"
                                      styleClass="w-full"
                                      appendTo="body"
                            ></p-select>
                        </div>

                        <div class="field mb-4">
                            <label for="nome" class="font-medium text-900 mb-2 block">Nome Completo</label>
                            <div class="relative w-full input-wrapper">
                                <input pInputText
                                       id="nome"
                                       name="nome"
                                       type="text"
                                       [(ngModel)]="loginData.nome"
                                       [ngModelOptions]="{ updateOn: 'blur' }"
                                       (blur)="onFieldChange('nome')"
                                       required
                                       placeholder="Digite seu nome completo"
                                       [class.ng-invalid]="valid['nome'] === false"
                                       class="w-full pr-5">

                                <div class="status-icon-container">
                                    @if (loading['nome']) { <i class="pi pi-spinner pi-spin text-primary"></i> }
                                    @if (!loading['nome'] && valid['nome'] === true) { <i class="pi pi-check-circle text-green-500 font-bold"></i> }
                                    @if (!loading['nome'] && valid['nome'] === false) { <i class="pi pi-times-circle text-red-500 font-bold"></i> }
                                </div>
                            </div>
                            @if (valid['nome'] === false) { <small class="p-error block mt-1">Verifique o nome digitado.</small> }
                        </div>

                        <div class="flex-1">
                            <label for="nascimento" class="font-medium text-900 mb-2 block">Nascimento</label>
                            <div class="relative w-full input-wrapper">
                                <p-inputMask name="nascimento"
                                             mask="99/99/9999"
                                             [(ngModel)]="loginData.nascimento"
                                             [ngModelOptions]="{ updateOn: 'blur' }"
                                             (onBlur)="onFieldChange('nascimento')"
                                             required
                                             placeholder="dd/mm/aaaa" id="nascimento"
                                             [class.ng-invalid]="valid['nascimento'] === false"
                                             styleClass="w-full pr-5"
                                ></p-inputMask>

                                <div class="status-icon-container">
                                    @if (loading['nascimento']) { <i class="pi pi-spinner pi-spin text-primary"></i> }
                                    @if (!loading['nascimento'] && valid['nascimento'] === true) { <i class="pi pi-check-circle text-green-500 font-bold"></i> }
                                    @if (!loading['nascimento'] && valid['nascimento'] === false) { <i class="pi pi-times-circle text-red-500 font-bold"></i> }
                                </div>
                            </div>
                        </div>

                        <div class="flex-1">
                            <label for="cpf" class="font-medium text-900 mb-2 block">CPF</label>
                            <div class="relative w-full input-wrapper">
                                <p-inputMask name="cpf"
                                             mask="999.999.999-99"
                                             [(ngModel)]="loginData.cpf"
                                             [ngModelOptions]="{ updateOn: 'blur' }"
                                             (onBlur)="onFieldChange('cpf')"
                                             required
                                             placeholder="000.000.000-00"
                                             id="cpf"
                                             [class.ng-invalid]="valid['cpf'] === false"
                                             styleClass="w-full pr-5">
                                </p-inputMask>

                                <div class="status-icon-container">
                                    @if (loading['cpf']) {
                                        <i class="pi pi-spinner pi-spin text-primary"></i>
                                    }
                                    @if (!loading['cpf'] && valid['cpf'] === true) {
                                        <i class="pi pi-check-circle text-green-500 font-bold"></i>
                                    }
                                    @if (!loading['cpf'] && valid['cpf'] === false) {
                                        <i class="pi pi-times-circle text-red-500 font-bold"></i>
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="flex justify-content-center mt-4 mb-2">
                            <p-button label="ENTRAR"
                                      icon="pi pi-sign-in"
                                      type="submit"
                                      styleClass="w-full btn-zao p-button-lg shadow-3"
                                      [disabled]="loginForm.invalid || isCheckingAny()"
                            ></p-button>
                        </div>

                    </form>
                </div>

                <ng-template pTemplate="footer">
                    <div class="surface-50 p-3 border-round text-center text-600 text-sm line-height-3 mx-3 mb-3">
                        <i class="pi pi-info-circle mr-1"></i> <strong>Instruções:</strong><br>
                        Preencha os campos. Se ficar <span class="text-green-600 font-bold">verde</span>, está correto.<br>
                        Se ficar <span class="text-red-500 font-bold">vermelho</span>, verifique o dado.<br>
                        O login será liberado ao preencher tudo corretamente.
                    </div>
                </ng-template>

            </p-card>

        </div>
    </div>
</div>

<p-toast position="top-center"></p-toast>
